h4 {
	text-align: center;
	margin: 0;
	padding: 0.2em;
}
.content-wrapper {
	display: flex;
	align-items: flex-start;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px solid #1a0303;
	border-radius: 0.3em;
	margin: 1em 0.5em;
	background-color: #9f857f;
}

.add-trace-btn {
	margin-top: 0.4em;
	font-size: 1.1em;
	text-align: center;
	/* font-weight: 800; */
	background-color: #1a0303;
	padding: 0.3em;
	border-radius: 0.2em;
	width: 7em;
	border: 1px solid white;
}

.traces-menu {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 1em 1em;
}
