.form-wrapper {
	margin: 1.5em auto;
	background-color: #1a0303;
	max-width: 22em;
	padding: 0.5em;
	border-radius: 0.5em;
	font-size: 1.2em;
	border: 2px solid black;
}

.form-auth {
	border: 2px solid #1a0303;
	padding: 0.8em;
	background-color: burlywood;
	/* #9f857f; */
	border-radius: inherit;
}

.form-auth input {
	display: block;
	padding: 0.5em;
	margin-bottom: 1em;
	margin-top: 0.2em;
	width: 100%;
	background-color: white;
	font-size: 1.2em;
	border: 2px solid #1a0303;
	border-radius: 0.2em;
}
.form-auth label {
	color: #1a0303;
	font-size: 1.2em;
}

.form-auth button {
	display: block;
	margin: 0 auto;
	border: none;
	background-color: #1a0303;
	color: white;
	/* padding: 0.3em 0.5em; */
	font-size: inherit;
	border: 2px solid white;
	border-radius: 0.3em;
	cursor: pointer;
	font-weight: 800;
	/* -webkit-transition-duration: 0.3s; */
	/* Safari */
	/* transition-duration: 0.3s; */
}
.form-auth button:hover {
	background-color: white;
	color: rgb(3, 8, 35);
}

.error {
	font-size: 1.2em;
	padding: 0.2em 1em;
	text-align: center;
	margin-bottom: 0.4em;
}

button:disabled {
	background-color: grey;
	color: darkgray;
	cursor: not-allowed;
}

.error,
input.error {
	display: block;
	background-color: white;
	color: red;
	padding: 0.5em;
	margin-bottom: 1em;
	margin-top: 0.2em;
	width: 100%;
	text-align: left;
	border-color: red;
}
