<div class="form-wrapper">
    <form form #f="ngForm" (ngSubmit)="createTrace(f)" class="form">
        <div>
            <p><label for="name">Име на трасето *</label></p>
            <p><input type="text" ngModel name="name" id="name"></p>
        </div>
        <div>
            <p> <label for="image">снимка 800px/600px</label></p>
            <p><input type="text" ngModel name="imageUrl" id="image"></p>
        </div>
        <div class="buttons">
            <button type="submit">Create</button>
        </div>
    </form>

</div>