<div class="box-edit-container">
    <div class="position-nav-wrapper">
        <div>
            <button (click)="showPositionTools=!showPositionTools">Покажи / скрий позициониране</button>
        </div>
        <div class="box-nav-container" *ngIf="showPositionTools">
            <h6>Преместване на кутия</h6>
            <div class="position-nav">
                <button (click)="moveTop()">&#8679;</button>
                <div class="left-right">
                    <button (click)="moveLeft()">&#8678;</button> <button (click)=" moveRight()">&#8680;</button>
                </div>
                <button (click)="moveBottom()">&#8681;</button>
            </div>
            <div class="step-container">
                <p>Стъпка на придвижване: {{stepToMoveBox}}</p>
                <div class="step">
                    <button (click)="stepDown()">step--</button> <button (click)="stepUp()">step++</button>
                </div>
                <!-- <button (click)="boxEdited()">ok</button> -->
            </div>
        </div>
    </div>
    <div class="form-wrapper" *ngIf="box">
        <form form #f="ngForm" (ngSubmit)="onEdit(f)" class="form">
            <div>
                <p><label for="name">име</label></p>
                <p><input type="text" [(ngModel)]="box.name" name="name" id="name"></p>
            </div>
            <div>
                <p> <label for="free-fibers">свободни влакна</label></p>
                <p><input type="number" [(ngModel)]="box.freeFibers" name="freeFibers" id="free-fibers"></p>
            </div>
            <div>
                <p> <label for="splitter">сплитер</label></p>
                <p><input type="number" [(ngModel)]="box.splitter" name="splitter" id="splitter"></p>
            </div>
            <div class="button-submit">
                <button type="submit">Edit</button>
                <button (click)="close()">exit</button>
            </div>
        </form>
    </div>
</div>