.box-edit-container {
	display: flex;
	flex-direction: column;
	padding: 0.5em;
	padding-top: 0;
}
.box-nav-container {
	background-color: #59342c;
	padding: 1em;
}

.position-nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 0.2em;
}

.position-nav button {
	margin: 0.1em;
}

.step {
	display: flex;
}
.step button {
	margin: 0.3em;
}

.left-right {
	display: flex;
	justify-content: center;
}
h4,
h5 {
	margin: 0.5em;
	text-align: center;
}
.form-wrapper {
	background-color: darksalmon;
	padding: 0.5em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form div {
	margin-bottom: 1em;
}
p {
	padding: 0.1em;
	margin: 0.1em;
}
.button-submit {
	display: flex;
	justify-content: center;
}

.button-submit button {
	margin: 0.3em;
}
