<ng-container *ngIf="box">
    <div class="box-data">
        <h4 class="box-data-heading">{{box.name}}</h4>
        <div class="info">
            <p>Свободни влакна: <span class="data">{{box.freeFibers}}</span></p>
            <p *ngIf="box.addInfo">Доп. инфо: <span class=" data">{{box.addInfo}}</span></p>
            <p *ngIf="box.splitter!= 0">Сплитер: <span class="data">{{box.splitter}}</span></p>
            <button *ngIf="box.users.length>0" (click)="users(box.users)">абонати</button>
        </div>
    </div>
    <div class="box-nav">
        <!-- <div > -->
        <a (click)="showAddUser()" class="show-hide-user">
            <h6 #addUser>Добави абонат</h6>
        </a>
        <form form #f="ngForm" (ngSubmit)="onAddUser(f)" class="add-user" *ngIf="showUserAdd">
            <div class="user-input">
                <p>
                    <label for="pon">пон:</label>
                    <input type="text" #pon ngModel name="pon" id="pon">
                </p>
                <p>
                    <label for="name">име:</label>
                    <input type="text" #name ngModel name="name" id="name">
                </p>
                <p>
                    <label for="address">адрес:</label>
                    <input type="text" #address ngModel name="address" id="address">
                </p>
                <p>
                    <label for="address">доп. инфо:</label>
                    <input type="text" #info ngModel name="info" id="info">
                </p>
            </div>
            <div class="add-user-button">
                <button type="submit">добави</button>
            </div>
        </form>
        <!-- </div> -->
    </div>
</ng-container>