.box-data {
	display: flex;
	flex-direction: column;
}
.box-data-heading {
	text-align: center;
	background-color: #a52a2a;
	padding: 1em;
}

.box-nav {
	display: flex;
	flex-direction: column;
	background-color: #a52a2a;
	padding: 1em;
	align-items: center;
}

.box-nav button {
	margin: 0.5em;
	margin-top: 1.1em;
}

.add-user {
	display: flex;
	flex-direction: column;
	/* justify-content: flex-start; */
	align-items: flex-start;
}
.add-user-button {
	margin: 0 auto;
}
