<div class="trace-container">
    <div class="trace-image" *ngIf="imageUrl">
        <img [src]="imageUrl">
        <div *ngIf="trace">
            <app-box *ngFor="let box of trace" class="small-box"
                [ngClass]="{'selected':box.id==selectedBoxId,'next':findNextBoxes(box.id),'parent':findParent(box.id, parentBoxId)}"
                [style.left.px]="box.positionLeft" [style.top.px]="box.positionTop" (click)="getBox(box.id)">
            </app-box>
        </div>
    </div>
    <!-- <app-box-edit *ngIf="box && boxEdit" (boxEditedEvent)="boxEdited($event)"></app-box-edit> -->
    <div>
        <div class="trace-nav">
            <h3>Предна кутия</h3>
            <div class="parent-container">
                <ng-container *ngIf="parentBox">
                    <app-box class="parent-box parent" (click)="getBox(box.parentBox)" [box]="parentBox">
                    </app-box>
                </ng-container>
            </div>
            <div *ngIf="trace" class="box-details">
                <app-box-data *ngIf="box" [box]="box"></app-box-data>
                <div class="create-delete" *ngIf="box">
                    <!-- <button [routerLink]="['delete',box.id]">deletee</button> -->
                    <app-delete-box [id]="box.id"></app-delete-box>
                    <button routerLink="create">create</button>
                    <button routerLink="edit">edit</button>
                </div>
            </div>
            <h3>Следващи кутии...</h3>
            <div *ngIf="nextBoxes" class="next-boxes">
                <app-box *ngFor="let box of nextBoxes" class="box next" (click)="getBox(box.id)" [box]="box">
                </app-box>
            </div>
        </div>
    </div>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>