.trace-container {
	padding: 0.5em;
	padding-top: 0;
	margin: 0 auto;
	display: flex;
	/* flex-direction: column;
	align-items: center; */
}
.trace {
	padding: 0.5em;
	display: flex;
	flex-direction: column;
}
.trace-nav {
	display: flex;
	flex-direction: column;
	/* border: 2px solid green; */
}
h3 {
	margin-top: 0;
	text-align: center;
	background-color: rgb(167, 170, 167);
	padding: 0.2em;
}
.box,
.parent-box,
.small-box {
	display: block;
	border: 2px solid darkslategray;
	padding: 0 1em;
	margin: 0 1em;
	position: relative;
	background-color: blanchedalmond;
	width: 40px;
	height: 100px;
	cursor: pointer;
	text-align: center;
}
.small-box {
	padding: 0;
	width: 10px;
	height: 20px;
}

.selected.small-box {
	background-color: rgb(247, 16, 16);
	width: 15px;
	height: 30px;
}
.next {
	background-color: green;
}
.parent {
	background-color: indigo;
	color: wheat;
}
.box-details {
	padding: 1em;
	margin: 1em;
	border: 2px solid grey;
	max-width: 300px;
}

/* .box:not(:last-of-type)::after {
	display: block;
	content: '';
	background-color: darkslategrey;
	width: 7px;
	height: 3em;
	position: absolute;
	left: 37px;
	top: 6em;
	z-index: -1;
} */

.box-details {
	background-color: lightgray;
	color: black;
}
.next-boxes {
	display: flex;
	margin: 0.5em;
}
.parent-container {
	height: 100px;
	display: flex;
	justify-content: center;
}

/* .parent-box {
	width: 75px;
	height: 135px;
} */

.trace-image {
	display: block;
	width: 800px;
	height: 500px;
}
.trace-image {
	position: relative;
}
.trace-image div {
	position: absolute;
	top: 0;
	left: 0;
}
.create-delete {
	display: flex;
	justify-content: flex-end;
}
.create-delete button {
	margin: 0.5em;
}
