.traces-container {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.traces-nav {
	width: 22em;
	background-color: #1a0303;
	padding: 1em;
	margin-bottom: 0.2em;
}

.active {
	font-weight: 800;
}
